@import '/node_modules/@material/dialog'; 
// @import '/node_modules/@material/image-list/mdc-image-list.scss';
// @include mdc-image-list.masonry-columns


// @import '../../node_modules/@material/dialog'; 
// // @import  '../../node_modules/@material/image-list/mdc-image-list.scss';
// @import  '../../node_modules/@material/image-list/mdc-image-list.import.scss'; 
 
// .mdc-dialog { 
//     // background-color: black;
//     @include container-fill-color(black)
// }

// .my-masonry-image-list {
//     @include image-list
//   }



